// Fonts
@import url(fonts.scss);

// Variables
@import "_variables";

// Swiper
@import "node_modules/swiper/dist/css/swiper";

// Reset

body {
  font-size: 14px;
  line-height: 1.3;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'OpenSans-Semibold';
}

*, ul, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

// Common

.cont {
  max-width: 1175px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.tag {
  display: flex;
  margin-right: 25px;
  padding: 13px 15px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  align-items: center;
  &.pink {
    background-color: $color-pink;
  }
  &.blue {
    background-color: $color-blue;
  }
  &.green {
    background-color: $color-green;
  }
  .icon {
    width: 22px;
    height: 22px;
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
    margin-right: 15px;
  }
  .text {
    color: #fff;
    font-family: 'OpenSans-Semibold';
    font-size: 18px;
  }
}

.link {
  font-size: 15px;
  color: #333;
  text-decoration: none;
  font-family: 'OpenSans-Semibold';
  cursor: pointer;
  &:hover {
    color: #777;
  }
}


// Sections

header {
  background-color: #fff;
  .row {
    display: flex;
    height: 127px;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      .logo {
        width: 180px;
        height: 64px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/logo.png);
        -webkit-background-size: contain;
        background-size: contain;
      }
      .menu {
        flex: 1;
        ul {
          display: block;
          list-style: none;
          margin-left: 20px;
          li {
            display: inline-block;
            padding: 0 20px;
            a {

            }
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .but {
        cursor: pointer;
      }
      .contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 50px;
        a {
          display: table;
        }
      }
    }
  }
}

.section_slider_1 {
  position: relative;
  margin-bottom: 40px;
  .img {
    height: 46vw;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    .slide_block {
      .cont {
        .row {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          height: 46vw;
          .column {
            width: 50%;
            padding-left: 15px;
            padding-bottom: 200px;
            .title {
              text-transform: uppercase;
              color: #fff;
              font-family: 'OpenSans-Bold';
              margin-bottom: 30px;
              font-size: 40px;
            }
            .tag_row {
              display: flex;
              margin-bottom: 35px;
            }
          }
        }
      }
    }
  }
  .level_2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .row {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 46vw;
      .column {
        width: 50%;
        padding-left: 15px;
        padding-bottom: 150px;
        .button_row {
          display: flex;
          justify-content: flex-end;
          .swiper-button {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            width: 44px;
            height: 31px;
            -webkit-background-size: contain;
            background-size: contain;
            margin-top: 0;
            &.swiper-button-prev {
              background-image: url(../images/prev.png);
              margin-right: 50px;
            }
            &.swiper-button-next {
              background-image: url(../images/next.png);
            }
          }
        }
      }
    }
  }
}

.section_video {
  display: block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url(../images/video.jpg);
  height: 42vw;
  position: relative;
  .play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(../images/play.png);
    transition: all 0.3s ease;
    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}

.section_steps_head {
  padding: 60px 0;
  .title_1 {
    font-family: 'OpenSans-Bold';
    font-size: 70px;
    margin-bottom: 40px;
  }
  .title_2 {
    font-family: 'OpenSans-SemiboldItalic';
    color: #c73d9a;
    margin-bottom: 40px;
    font-size: 18px;
  }
  .text {
    font-family: 'OpenSans-Semibold';
    font-size: 18px;
  }
}

.section_step {
  position: relative;
  margin-bottom: 30px;
  .row {
    display: flex;
    align-items: stretch;
    .col_big {
      position: relative;
      width: 66.66%;
      min-height: 42vw;
      .img {
        position: absolute;
        top: 0;
        right: 0;
        width: 70vw;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
        z-index: 2;
        border-bottom-right-radius: 80px;
      }
      .number {
        position: absolute;
        bottom: 40px;
        left: 0;
        font-family: 'OpenSans-Bold';
        font-size: 200px;
        color: #fff;
        z-index: 5;
      }
    }
    .col_small {
      width: 33.33%;
      .text_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -50px;
        position: relative;
        z-index: 10;
        height: 100%;
        .with_title {
          padding-left: 90px;
          .title_1 {
            text-transform: uppercase;
            font-size: 36px;
            margin-bottom: 25px;
            font-family: 'OpenSans-Semibold';
          }
          .title_2 {
            font-family: 'OpenSans-SemiboldItalic';
            font-size: 30px;
            margin-bottom: 30px;
          }
        }
        .block {
          padding: 50px;
          border-top-left-radius: 20px;
          border-bottom-right-radius: 20px;
          margin-bottom: 30px;
          display: flex;
          min-height: 350px;
          .text {
            color: #fff;
            font-size: 16px;
            font-family: 'OpenSans-Regular';
            margin: auto;
          }
        }
        .str {
          width: 40px;
          height: 60px;
          background-image: url(../images/str.png);
          background-repeat: no-repeat;
          background-position: center;
          -webkit-background-size: contain;
          background-size: contain;
          margin: 0 auto;
        }
      }
    }
  }
  &.pink {
    .block {background-color: $color-pink;}
    .title_2 {color: $color-pink;}
  }
  &.blue {
    .block {background-color: $color-blue;}
    .title_2 {color: $color-blue;}
  }
  &.green {
    .block {background-color: $color-green;}
    .title_2 {color: $color-green;}
  }
  &.step_reverse {
    .row {
      flex-direction: row-reverse;
      .col_big {
        .img {
          left: 0;
          right: auto;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 80px;
        }
        .number {
          left: 100px;
        }
      }
      .col_small {
        .text_block {
          margin-left: 0;
          margin-right: -50px;
          .with_title {
            padding-left: 25px;
          }
        }
      }
    }
  }
  &.step_10 {
    margin-bottom: 90px;
  }
}

.section_info {
  margin-bottom: 30px;
  .img {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    .wrap {
      height: 40vw;
      display: flex;
      justify-content: flex-end;
      .column {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 50px;
        .title {
          font-size: 44px;
          color: #fff;
          text-transform: uppercase;
          font-family: 'OpenSans-Bold';
          margin-bottom: 30px;
          padding-left: 30px;
        }
        .block {
          padding: 30px;
          border-top-left-radius: 20px;
          border-bottom-right-radius: 20px;
          .text {
            font-size: 16px;
            color: #fff;
            line-height: 1.4;
            font-family: 'OpenSans-Regular';
            p {
              margin-bottom: 20px;
            }
          }
          &.blue {
            background-color: $color-blue;
          }
          &.pink {
            background-color: $color-pink;
          }
        }
        .tag {
          display: table;
          margin-left: 30px;
          margin-bottom: 100px;
          .icon {
            display: inline-block;
            vertical-align: middle;
          }
          .text {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.section_parks {
  padding-top: 35px;
  margin-bottom: 80px;
  .title {
    font-family: 'OpenSans-Bold';
    font-size: 54px;
    margin-bottom: 60px;
  }
  .slider_with_pagination {
    .swiper-slide {
      .block {
        border: 1px solid #888;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        position: relative;
        &:after {
          display: block;
          content: '';
          padding-top: 100%;
        }
        .block_in {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 25px;
          .logo {
            width: 100%;
            height: 70px;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-background-size: contain;
            background-size: contain;
            margin-bottom: 20px;
          }
          .img {
            display: block;
            width: 100%;
            height: 100px;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-background-size: cover;
            background-size: cover;
            margin-bottom: 30px;
          }
          .text {
            font-size: 16px;
            font-family: 'OpenSans-Regular';
          }
        }
      }
    }
    .swiper-pagination {
      position: relative;
      margin: 25px auto 0;
      .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        margin: 0 8px;
      }
    }
  }
}

.section_recomended_hotels {
  padding-top: 35px;
  margin-bottom: 80px;
  .title {
    font-family: 'OpenSans-Bold';
    font-size: 54px;
    margin-bottom: 60px;
  }
  .row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    .col {
      width: 33.33%;
      padding: 0 15px;
      .block {
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        position: relative;
        &:after {
          display: block;
          content: '';
          padding-top: 100%;
        }
        ul {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          padding: 30px;
          list-style: none;
          li {
            color: #fff;
            margin-bottom: 23px;
            font-size: 17px;
          }
        }
        &.blue {background-color: $color-blue;}
        &.pink {background-color: $color-pink;}
        &.green {background-color: $color-green;}
      }
    }
  }
}

.section_feedback {
  padding-top: 35px;
  margin-bottom: 80px;
  .tours {
    display: flex;
    margin: 0 auto 50px;
    width: 300px;
    height: 70px;
    background-color: $color-green;
    text-decoration: none;
    transition: all 0.3s ease;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    &:hover {
      opacity: 0.8;
    }
    div {
      margin: auto;
      color: #fff;
      font-size: 26px;
      text-transform: uppercase;
    }
  }
  .title {
    font-family: 'OpenSans-Bold';
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
  }
  .row {
    display: flex;
    justify-content: space-between;
    margin: 60px -15px 0;
    .col {
      width: 25%;
      padding: 0 15px;
      input {
        border: 1px solid #888;
        display: block;
        width: 100%;
        height: 50px;
        padding: 15px;
        font-size: 20px;
      }
      button {
        display: block;
        width: 100%;
        height: 50px;
        background-color: $color-blue;
        border: none;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

footer {
  border-top: 2px solid #e2e2e2;
  .row {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      .logo {
        width: 180px;
        height: 64px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/logo.png);
        -webkit-background-size: contain;
        background-size: contain;
      }
      .with_soc {
        display: flex;
        align-items: center;
        margin-left: 70px;
        .text {
          font-size: 16px;
          margin-right: 30px;
        }
        .soc_row {
          .soc {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 0 10px;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-background-size: cover;
            background-size: cover;
            &.fb {background-image: url(../images/fb.png);}
            &.inst {background-image: url(../images/inst.png);}
            &.youtube {background-image: url(../images/youtube.png);}
            &.tel {background-image: url(../images/tel.png);}
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .but {
        cursor: pointer;
      }
      .contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 50px;
        a {
          display: table;
        }
      }
    }
  }
}